<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta charset="utf-8">

  <title>{{title}}</title>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css"
    integrity="sha256-8CEI/ltDBxfGb0lev/b4YiRbQSPlllT89ukpFKC3Frg="
    crossorigin="anonymous" />
</head>

<body>
  <div class="ui inverted basic segment">
    <div class="ui inverted secondary pointing menu">
      <div class="ui container">
        <a class="item" href='#about'>About</a>
        <a class="item" href='#projects'>Projects</a>
        <a class="item" href='#contact'>Contact</a>
        <a class="item" href='#donate'>Donate</a>
      </div>
    </div>
  </div>
  <div class="ui container">
    <h1 class="ui dividing blue header">{{header}}</h1>
    <p>{{intro}}</p>

    <img class="ui fluid bordered image" src="{{missionStatementImageSrc}}">
    <h2 class="ui dividing blue header">{{missionStatementHeader}}</h2>
    <p>{{missionStatement1}}</p>
    <p style="margin-left: 1em; margin-right: 1em;">
      <em>{{starfishStory}}</em>
    </p>
    </p>{{missionStatement2}}</p>

    <h2 class="ui dividing blue header" id="projects">{{projectsHeader}}</h2>
    {{#projects}}
    <h3 class="ui orange header">{{header}}</h3>
    <p>{{description}}</p>
    <div class="ui small images">
      {{#images}}
      <img class="ui image" src="{{src}}" data-type="image-modal-trigger"/>
      <div class="ui basic modal">
        <i class="close icon"></i>
        {{#header}}
        <div class="header">{{header}}</div>
        {{/header}}
        <div class="image content">
          <img class="image" src="{{src}}" />
        </div>
      </div>
      {{/images}}
    </div>
    {{/projects}}

    <h3 class="ui header">{{cofHeader}}</h3>
    <p>{{cofDescription}}</p>
    <p>
      <a href="{{cofDocLink}}"><i class="file word outline icon"></i>{{cofDocLinkLabel}}</a>
    </p>

    <h2 id="contact" class="ui dividing blue header">{{contactHeader}}</h2>
    <p>{{contactIntro}}</p>
    <form class="ui form" id='contact-submit-form'>
      <div class="ui positive hidden message">
        <i class="close icon"></i>
        <div class="header">{{contactSubmitSuccessHeader}}</div>
        <p>{{contactSubmitSuccessMessage}}</p>
      </div>

      <div class="ui negative hidden message">
        <i class="close icon"></i>
        <div class="header">{{contactSubmitFailureHeader}}</div>
        <p>{{contactSubmitFailureMessage}}</p>
      </div>

      <div class="field">
        <label>{{contactNameLabel}}</label>
        <input name='name' placeholder="{{contactNamePlaceholder}}" />
      </div>
      <div class="field">
        <label>{{contactEmailLabel}}</label>
        <input name='email' placeholder="{{contactEmailPlaceholder}}" />
      </div>
      <div class="field">
        <label>{{contactMessageLabel}}</label>
        <textarea name='message' placeholder="{{contactMessagePlaceholder}}"></textarea>
      </div>
      <button class="ui primary button" type='submit' id='contact-submit-button'>
        {{contactSubmitButton}}
      </button>
    </form>

    <h2 class="ui dividing blue header" id="donate">{{donateHeader}}</h2>
    <p>{{donateIntro}}</p>

    <div style="display: none;">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id='donate-form'>
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="FCQXF5HRVXA9N">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </form>
    </div>

    <div class="ui vertical segment">
      <button class="ui labeled icon primary button" id='donate-button'>
        <i class="paypal icon"></i>{{donateButton}}
      </button>
    </div>
  </div>

  <div class="ui very padded center aligned inverted vertical segment">
    <div class="ui container">
      <i class="github icon"></i>
      <a target="_blank" href='https://github.com/tylerschloesser'>github.com/tylerschloesser</a>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"
    integrity="sha256-Z8zOlL7Qb7adkTfszqcKWybBdjBOZBY0r7DuFLZqMX8="
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {

      // submit contact form
      $('#contact-submit-button').click(function(e) {
        var $button = $(this);
        e.preventDefault();
        $button.addClass('loading');
        var $form = $('#contact-submit-form');
        $.post('https://api.haitianrelief.org/email', $form.serialize(), function() {
          $form.find('.ui.positive.message').removeClass('hidden');
        }).fail(function() {
          $form.find('.ui.negative.message').removeClass('hidden');
        }).always(function() {
          $button.removeClass('loading');
        });
      });

      // close contact success/failure message
      $('.ui.message .close.icon').click(function() {
        $(this).parent().addClass('hidden');
      });

      // submit paypal donate form
      $('#donate-button').click(function() {
        $(this).addClass('loading');
        $('#donate-form').submit();
      });

      // setup project image modal triggers
      $('[data-type="image-modal-trigger"]').each(function() {
        var $image = $(this);
        var $modal = $image.next();
        $image.click(function() {
          $modal.modal('show');
        });
      });
    });
  </script>
</body>
</html>
