<p>
Haitian Relief Services (HRS) is a small non-profit, registered in Minnesota as a

501(c)(3), and located in River Falls, Wisconsin. Its staff consists entirely of two

volunteers, Capt. Pat O’Malley and Dr. Curt Larson. Capt. O’Malley is a retired

American Airlines Pilot, who established HRS in 1997 and serves as its president.

His relationship with American Airlines provides very inexpensive travel to and

from Haiti. Dr. Larson is a Physics Professor Emeritus at the University of

Wisconsin River Falls and serves as the financial officer of HRS. Since HRS has

no salaried staff, all donations received go directly into programs in Haiti, making

HRS rather unique among nonprofits.
</p>
<!-- TODO add curt and pat photos -->

<h2 class="ui dividing header">Mission Statement</h2>
<p>
The mission of HRS centers on improving the quality of life for the Haitian people,

beginning with the people in Ganthier, Haiti. Capt. O’Malley, through piloting

American Airline flights into Haiti, and Dr. Larson, on a Food For the Poor

mission trip to Haiti, both observed firsthand the conditions of extreme poverty

endured by the Haitian people. Both, in their retirement, have worked as

volunteers to do what they can toward accomplishing this mission. While the task

is a daunting one, they are motivated by the spirit of mission expressed the

“Starfish Story”:
</p>

<p style="margin-left: 1em; margin-right: 1em; font-style: italic;">
As a young child walked along a beach at dawn, he noticed an old man

ahead of him picking up starfish and tossing them into the sea. Catching up

with the man, the child asked why he was doing this. The old man

explained that the stranded starfish would die if left in the morning sun.

"But the beach goes on for miles and there are thousands of starfish,"

exclaimed the child. "How can you alone make any difference?" The old

man looked at the starfish in his hand and then tossed it safely into the

waves. He turned to the child, smiled, and said, "I made a difference to that

one."
</p>

</p>
This story sums up pretty well the attitude needed when confronting the seemingly

hopeless and endless need among the poor. Our approach is to provide a link

between people of material means in and around River Falls, Wisconsin, and

people of great need in Haiti. This link, in the form of a donation path, serves as a

blessing to those willing to share of their wealth and those in Haiti who materially

benefit as recipients.
</p>
