<div class='content'>
  <strong>Haitian Relief Services</strong> (HRS) is a small non-profit,
  registered in Minnesota as a 501(c)(3), and located in River Falls, Wisconsin.
  Its staff consists entirely of two volunteers, <span class="no-break"> Pat O’Malley</span>
  and <span class="no-break">Dr. Curt Larson</span>.  Capt. O’Malley is a retired
  American Airlines Pilot, who established HRS in 1997 and serves as its president.
  Dr. Larson is a Physics Professor Emeritus at the University of Wisconsin River Falls
  and serves as the financial officer of HRS.  Since HRS has no salaried staff,
  all donations received go directly into programs in Haiti.
</div>
