<h2 id="contact" class="ui header">Contact</h2>

<p>
    Want to get in touch? Use the form below to send us a message.
</p>

    <form class="ui form" id='contact-submit-form'>

      <div class="ui positive message" style="display:none;">
        <i class="close icon"></i>
        <div class="header">
          Success
        </div>
        <p>Message has been sent!</p>
      </div>

      <div class="ui negative message" style="display:none;">
        <i class="close icon"></i>
        <div class="header">
          Something went wrong
        </div>
        <p>Your message was unable to be sent. Please try again later.</p>
      </div>

      <div class="field">
        <label>Your Name</label>
        <input name='name' placeholder="Your Name" />
      </div>
      <div class="field">
        <label>Email Address</label>
        <input name='email' placeholder="Email Address" />
      </div>
      <div class="field">
        <label>Message</label>
        <textarea name='message' placeholder='Message'></textarea>
      </div>
      <button class="ui primary button" type='submit' id='contact-submit-button'>Submit</button>
    </form>
