<h2 id="contact" class="ui header">Contact</h2>

<p>
    Want to get in touch? Use the form below to send us a message.
</p>

    <form class="ui form">
      <div class="field">
        <label>Your Name</label>
        <input name='name' placeholder="Your Name" />
      </div>
      <div class="field">
        <label>Email Address</label>
        <input name='email' placeholder="Email Address" />
      </div>
      <div class="field">
        <label>Message</label>
        <textarea name='message' placeholder='Message'></textarea>
      </div>
      <button class="ui primary button"type='submit'>Submit</button>
    </form>
