<div class='section'>
  <div class='anchor'>Contact</div>
  <div class='content'>

    Want to get in touch? Use the form below to send us a message.
    <form>
      <div>
        <input name='name' placeholder='Name'/>
      </div>
      <div>
        <input name='email' placeholder='Email Address'/>
      </div>
      <div>
        <textarea name='message' placeholder='Message'></textarea>
      </div>
      <div>
        <button type='submit'>Send</button>
      </div>
    </form>
  </div>
</div>
