<div class='section'>
  <div class='anchor'>Contact</div>
  <div class='content'>

    Want to get in touch? Use the form below to send us a message.
    <form id=contact-form>
      <div>
        <input name='name' placeholder='your name'/>
      </div>
      <div>
        <input name='email' placeholder='email@address'/>
      </div>
      <div>
        <textarea name='message' placeholder='message'></textarea>
      </div>
      <div>
        <button type='submit'>Send Message</button>
      </div>
    </form>
  </div>
</div>
