<link href='style.css' rel='stylesheet' type='text/css'>
<script src='scripts.js'></script>

<link href="https://fonts.googleapis.com/css?family=Abel|Comfortaa|Poiret+One" rel="stylesheet">

<div id=header>
  <%= erb :header %>
</div>

<div id=home>
  <%= erb :home %>
</div>
