<h2 class="ui dividing header" id="projects">Projects</h2>
<h3 class="ui header">Ezekiel Village</h3>
<p>
In 2002, Ezekiel Lutheran Church, working in cooperation with six additional

River Falls, Wisconsin churches and the nonprofit, Food For the Poor, led a project

to fund twenty five houses and the associated bathrooms in Ganthier, Haiti. The

project was funded by donations and the houses were completed and dedicated as

“Ezekiel Village” in 2004. Donations were collected locally and funds were

transferred using the nonprofit status of Food For the Poor. All construction

design, engineering and labor for Ezekiel Village was provided by local Haitian

people. The well-constructed buildings were undamaged in the 2010 earthquake

and the 2016 Hurricane Matthew.
</p>

<div class="ui small images">
  <img class="ui image" src="ev1.jpg" />
  <img class="ui image" src="ev2.jpg" />
  <img class="ui image" src="ev3.jpg" />
  <img class="ui image" src="ev4.jpg" />
</div>

<div class="ui basic modal" id="ev1-modal">
  <i class="close icon"></i>
  <div class="header">A nearby power pole provides home wiring!</div>
  <div class="image content">
    <img class="image" src="ev1.jpg" />
  </div>
</div>

<div class="ui basic modal" id="ev2-modal">
  <i class="close icon"></i>
  <div class="header">Beginning an addition to a home</div>
  <div class="image content">
    <img class="image" src="ev2.jpg" />
  </div>
</div>

<div class="ui basic modal" id="ev3-modal">
  <i class="close icon"></i>
  <div class="header">Completed addition to a home</div>
  <div class="image content">
    <img class="image" src="ev3.jpg" />
  </div>
</div>

<div class="ui basic modal" id="ev4-modal">
  <i class="close icon"></i>
  <div class="header">Ezekiel Village at the time of dedication</div>
  <div class="image content">
    <img class="image" src="ev4.jpg" />
  </div>
</div>


<h3 class="ui header">Ganthier School</h3>

<p>
In 2006 the River Falls churches, again led by Ezekiel, began a project to build a

650 student elementary school - high school in Ganthier. The first floor was built

processing all donations and fund transfers through the nonprofit Food For the

Poor, and was completed and in 2008. The second floor was completed and the

school was dedicated in 2010. All donations and fund transfers for the second

floor were processed through the nonprofit status of HRS. All construction design,

engineering and labor for the school was provided by local Haitian people. The

well-constructed building was undamaged in the 2010 earthquake and the 2016

Hurricane Matthew.
</p>

<p>
The school currently serves children preschool through ninth grade.

Since completion of the school, all fundraising has been dedicated to support of the

school in the form of teacher salaries. We are currently sending $2500 per month

to the school, which supports nineteen teachers. This allows many students to

attend the school who otherwise would not be able to attend.
</p>

<div class="ui small images">
  <img class="ui image" src="gs1.jpg" />
  <img class="ui image" src="gs2.jpg" />
  <img class="ui image" src="gs3.jpg" />
  <img class="ui image" src="gs4.jpg" />
  <img class="ui image" src="gs5.jpg" />
  <img class="ui image" src="gs6.jpg" />
  <img class="ui image" src="gs7.jpg" />
  <img class="ui image" src="gs8.jpg" />
</div>

<div class="ui basic modal" id="gs1-modal">
  <i class="close icon"></i>
  <div class="header">A ninth grade class</div>
  <div class="image content">
    <img class="image" src="gs1.jpg" />
  </div>
</div>

<div class="ui basic modal" id="gs2-modal">
  <i class="close icon"></i>
  <div class="header">A teacher provides her own daycare</div>
  <div class="image content">
    <img class="image" src="gs2.jpg" />
  </div>
</div>

<div class="ui basic modal" id="gs3-modal">
  <i class="close icon"></i>
  <div class="header">Both wings of the school</div>
  <div class="image content">
    <img class="image" src="gs3.jpg" />
  </div>
</div>

<div class="ui basic modal" id="gs4-modal">
  <i class="close icon"></i>
  <div class="header">Computer class</div>
  <div class="image content">
    <img class="image" src="gs4.jpg" />
  </div>
</div>

<div class="ui basic modal" id="gs5-modal">
  <i class="close icon"></i>
  <div class="header">Elementary school students</div>
  <div class="image content">
    <img class="image" src="gs5.jpg" />
  </div>
</div>

<div class="ui basic modal" id="gs6-modal">
  <i class="close icon"></i>
  <div class="header">Getting a drink at the school cistern</div>
  <div class="image content">
    <img class="image" src="gs6.jpg" />
  </div>
</div>

<div class="ui basic modal" id="gs7-modal">
  <i class="close icon"></i>
  <div class="header">School viewed from the second floor</div>
  <div class="image content">
    <img class="image" src="gs7.jpg" />
  </div>
</div>

<div class="ui basic modal" id="gs8-modal">
  <i class="close icon"></i>
  <div class="header">West wing of the school</div>
  <div class="image content">
    <img class="image" src="gs8.jpg" />
  </div>
</div>

<h3 class="ui header">Ezekiel Village Water Cistern</h3>

<p>
A 12,000 gallon water cistern was constructed, in cooperation with the United

Nations, for the people of Ezekiel Village in 2010. Drought conditions in Ganthier

have made the availability of water problematic, but a project is underway to

connect this cistern to a more reliable source of water.
</p>

<div class="ui small images">
  <img class="ui image" src="ws1.jpg" />
  <img class="ui image" src="ws2.jpg" />
</div>

<div class="ui basic modal" id="ws1-modal">
  <i class="close icon"></i>
  <div class="image content">
    <img class="image" src="ws1.jpg" />
  </div>
</div>

<div class="ui basic modal" id="ws2-modal">
  <i class="close icon"></i>
  <div class="header">
    Ezekiel Village Cistern (constructed in cooperation with the United Nations)
  </div>
  <div class="image content">
    <img class="image" src="ws2.jpg" />
  </div>
</div>

<h3 class="ui header">
  Pillowcase Dress Project
</h3>

<p>
On our September, 2015 trip to Haiti, we brought along 300 lbs. of clothing to

distribute at two schools, one in Ganthier and the other in Gressier. The clothing

was sewn in the Pillowcase Dress and T-shirt Shorts project, led by women of

Ezekiel Lutheran Church, with contributions from our community and four

addition communities. In 2016 this project produced 400 lbs. of clothing that was

distributed in December to the same two schools. This project is a good example

of how our community has supported the work of HRS in Haiti. Fr. Emmanuel

Sainteliat is the priest in the Gressier parish. He was the parish priest in Ganthier

when we built the school there, so we know him well. The 2010 earthquake

devastated the Gressier parish and he was moved to that parish to lead its

rebuilding. While our first commitment is to Ganthier, we try to help the Gressier

school when we have sufficient funds to do so.
</p>

<div class="ui small images">
  <img class="ui image" src="pc1.jpg" />
  <img class="ui image" src="pc2.jpg" />
  <img class="ui image" src="pc3.jpg" />
  <img class="ui image" src="pc4.jpg" />
</div>

<div class="ui basic modal" id="pc1-modal">
  <i class="close icon"></i>
  <div class="image content">
    <img class="image" src="pc1.jpg" />
  </div>
</div>

<div class="ui basic modal" id="pc2-modal">
  <i class="close icon"></i>
  <div class="image content">
    <img class="image" src="pc2.jpg" />
  </div>
</div>

<div class="ui basic modal" id="pc3-modal">
  <i class="close icon"></i>
  <div class="image content">
    <img class="image" src="pc3.jpg" />
  </div>
</div>

<div class="ui basic modal" id="pc4-modal">
  <i class="close icon"></i>
  <div class="image content">
    <img class="image" src="pc4.jpg" />
  </div>
</div>

<h3 class="ui header">
  Hurricane Matthew Relief
</h3>

<p>
The October 2016 Hurricane Matthew devastated the Gressier, Haiti parish.

Because of our relationship with Fr. Emmanuel Sainteliat, we responded to the

hurricane by raising and sending $15,350 to Gressier. These funds were used to

purchase emergency food and home repair construction materials.
</p>

<div class="ui small images">
  <img class="ui image" src="mr1.jpg" />
  <img class="ui image" src="mr2.jpg" />
  <img class="ui image" src="mr3.jpg" />
  <img class="ui image" src="mr4.jpg" />
  <img class="ui image" src="mr5.jpg" />
</div>

<div class="ui basic modal" id="mr1-modal">
  <i class="close icon"></i>
  <div class="header">A home destroyed</div>
  <div class="image content">
    <img class="image" src="mr1.jpg" />
  </div>
</div>

<div class="ui basic modal" id="mr2-modal">
  <i class="close icon"></i>
  <div class="header">Feeding those displaced from their homes</div>
  <div class="image content">
    <img class="image" src="mr2.jpg" />
  </div>
</div>

<div class="ui basic modal" id="mr3-modal">
  <i class="close icon"></i>
  <div class="header">Another destroyed home</div>
  <div class="image content">
    <img class="image" src="mr3.jpg" />
  </div>
</div>

<div class="ui basic modal" id="mr4-modal">
  <i class="close icon"></i>
  <div class="header">Rebuilding a home</div>
  <div class="image content">
    <img class="image" src="mr4.jpg" />
  </div>
</div>

<div class="ui basic modal" id="mr5-modal">
  <i class="close icon"></i>
  <div class="header">Steel roofing for repair</div>
  <div class="image content">
    <img class="image" src="mr5.jpg" />
  </div>
</div>


<h3 class="ui header">Clean Oil Farming</h3>

<p>
At this time, HRS energy is focused on fund raising in two areas, (1) financial

support of the school constructed in Ganthier, Haiti and (2) the development of an

economic base in the Ganthier area. A proposal for a clean-oil farming plan, “A

GROWING Project to Develop the Economy of Ganthier, Haiti”, has been

developed and is described in the “GROWING Proposal”. This farming plan, when

funded, will have a very favorable, sustainable and long term impact on the

economy in Haiti. The project will begin in the Ganthier area, but in the long term

will produce resources that will enable its continued expansion outward from

Ganthier. We envision this project to be developed in a farming cooperative model

so that ownership resides with the local Haitian farmers. Donors of means, who

are looking to “help the less fortunate” rather than “invest for personal gain” are

invited to donate to get this project going.

</p>
<p>
<a href="A GROWING Proposal.docx"><i class="file word outline icon"></i>A GROWING Proposal.docx</a>
</p>
