html, body {
  padding: 0;
  margin: 0;

  /*font-family: 'Abel', sans-serif;*/
  /*font-family: 'Poiret One', cursive;*/
  font-family: 'Comfortaa', cursive;

  color: #313131;
}

#header {
  text-align: center;
  font-size: 1.5rem;

  padding: 1rem 0;

  border-bottom: 1px solid lightgrey;

}

#header a {
  margin-right: 4rem;

  color: #313131;
  text-decoration: none;
}

#header a:last-child {
  margin-right: 0;
}

.org-name span:first-letter {
  color: red;
}

#home .org-name {
  padding: 3rem 0;

  font-size: 6rem;
  text-align: center;
  text-transform: lowercase;
}

#home .photo {
  text-align: center;
  background-color: #313131;

  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

#home .photo img {
  max-height: 30rem;
}

.section {
  padding: 3rem 1.8rem;
  margin: 0 auto;
  max-width: 1024px;
}

.section .anchor {
  font-size: 3.6rem;
  margin-bottom: 3rem;

  border-bottom: 1px solid #313131;
}

.section .content {
  font-size: 1.8rem;
  line-height: 160%;
}

.section .todo {
  font-size: 1.8rem;
  font-style: italic;
}

#contact form {
  padding: 0 7.2rem;
  padding-top: 3rem;
}

#contact form > div {
  padding-bottom: .9rem;
}

#contact form input,
#contact form textarea {
  width: 100%;
  padding: .5rem;
  font-size: 1.8rem;
  font-family: Arial;
}

#contact form textarea {
  height: 18rem;
}

#contact form button {
  padding: .5rem;
  font-size: 1.8rem;
  font-family: Arial;
}

#footer {
  margin-top: 3rem;

  height: 15rem;
  line-height: 15rem;
  vertical-align: middle;
  background-color: #313131;
  color: white;

  text-align: center;

  font-size: 1rem;
}
