html, body {
  padding: 0;
  margin: 0;

  height: 100%;

  /*font-family: 'Abel', sans-serif;*/
  /*font-family: 'Poiret One', cursive;*/
  font-family: 'Comfortaa', cursive;
}

#header {
  text-align: center;
}

#home {
  background-color: white;

  font-size: 6rem;
  text-align: center;
  text-transform: lowercase;
}
